
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="wrapper">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo2.png" alt="Logo" />
  </a>
  <h3 class="masthead-brand mb-0">Quiz sur le phishing</h3></div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Liste des liens qui seront cachés sur mobile et visibles via le bouton de menu -->
  <div class=" navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Accueil <span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="https://www.tunisietelecom.tn/particulier/trouver-un-espace-tt/">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>